.root {
  background-color: var(--color-primary);
  color: var(--white);
  border: .2rem solid var(--color-primary);
  
  padding: .5rem 1rem;
  border-radius: 8rem;
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  transition: all .2s;
  box-shadow: var(--box-shadow-primary);
}

.root:hover {
  background-color: var(--color-primary);
  color: var(--white);
  border: .2rem solid var(--color-primary);
  text-decoration: none;
}