.root {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow: var(--box-shadow-primary);
  min-width: 270px;
  background-color: var(--white);
  color: var(--color-primary);
  box-shadow: var(--box-shadow-primary);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  z-index: 1000;
}

.spacer {
  margin-bottom: 8rem;
}

.right_container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 2rem;
}