.line {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.line_label {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.line a {
  color: var(--color-primary);
  text-decoration: underline;
}