
.locations {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--background-color-primary);
  list-style-type: none;
}

.locations li {
  padding: 2rem;
}

.locations li:nth-child(even) {
  background-color: var(--background-color-secondary);
}